h1, 
.h1 {
  font-family: var(--font-impact);
}

.h2,
h2,
.h3,
h3,
.p1,
.p2,
p,
.p3,
.input,
a {
  font-family: var(--font-bounded);
}

// ========================================
// =============== HEADINGS ===============
// ========================================
.h1,
h1 {
  font-size: clamp(100px, 10vw, 200px);
  line-height: clamp(100px, 9vw, 150px);
}

.h2,
h2 {
  font-size: clamp(26px, 5vw, 48px);
  line-height: clamp(26px, 5vw, 48px);
}

.h3,
h3 {
  font-size: 24px;
  line-height: 24px;
}

.text-justify-last {
  text-align-last: justify;
  hyphens: auto;
}