@font-face {
  src: url('/fonts/impact.ttf') format('truetype');
  font-family: 'Impact';
  font-display: swap;
}

@font-face {
  src: url('/fonts/bounded/bounded.ttf') format('truetype');
  font-family: 'Bounded';
  font-display: swap;
}