body {
  min-height: 100vh;
  background-color: var(--color-black);
  color: var(--color-black);
  font-size: 16px;
  font-family: var(--font-sample);
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
  ::-moz-selection {
    background: var(--color-black);
    color: var(--color-white);
  }
  ::selection {
    background: var(--color-black);
    color: var(--color-white);
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.bg-noise {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100%;
}

.bg-noise::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  opacity: 0.05;
  z-index: -1;
  pointer-events: none;
  background: url('/images/noise.gif');
}
